@import "styles/classes";
@import "styles/fonts";
@import "styles/programs";
@import "styles/university";
@import "styles/wishlist";
@import "styles/landing";
@import "styles/auth";
@import "styles/manager";
*{
  margin: 0;
  padding: 0;
  font-family: "Inter";
  line-height: 1.3;
  font-weight: 200;
}
html{
  font-size: 62.5%;
}
svg{
  *{
    color: unset;
  }
}
body{
  margin: 0;
  background: $color-main-9;
  font-size: 1.5rem;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background: #e1e1e1;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $color-main-2;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

#main-container{
  height: 100vh;
  padding: 0;
}

#inner-container{
  padding: 0 0 0 8.8rem;
}

.el-container{
  padding: 0 2.4rem;
}

.default-container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  &.height100{
    min-height: 100%;
    align-content: center;
  }
}

.el-empty {
  height: 100%;
}

.defaultInlineBlock{
  display: inline-block;
  vertical-align: middle;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
a{
  text-decoration: none;
}

.el-main{
  padding: 0;
}
#main-block{
  padding: 2.4rem 4rem 2.4rem 2.4rem;
  overflow-y: auto;
  overflow-x: hidden;
}
svg.iconify{
  height: 2.4rem;
  width: 2.4rem;
}
.defaultIcon{
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background: $color-main-10;
  border: 1px solid transparent;
  border-radius: 1.2rem;
  align-items: center;
  justify-content: center;
  color: $color-main-2;
  &.danger{
    background: #FFF5F9;
    color: $color-main-1;
  }
}
h2,h3,h4{
  display: block;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  font-weight: 500;
  &.withMB{
    margin-bottom: 2.4rem;
  }
}

hr{
  width: 100%;
  height: 1px;
  border: none;
  margin: 2.4rem 0;
  background: $color-main-9;
  &.mini{
    margin: 1.6rem 0;
  }
  &.big{
    margin: 3.2rem 0;
  }
}

.maxImage{
  max-width: 100%;
}

.el-header{
  padding: 2.4rem 4rem 2.4rem 2.4rem;
  background: $custom-white;
  height: auto;
  h1{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-weight: 500;
  }
  #profileBlock{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 0 0 2.4rem;
    .imageBlock{
      display: inline-block;
      vertical-align: middle;
      height: 5.6rem;
      width: 5.6rem;
      border-radius: 1.6rem;
      background: $color-main-9;
      position: relative;
      overflow: hidden;
      transition: .2s;
      svg, img{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    p.name{
      display: inline-block;
      vertical-align: middle;
      margin: 0 1.2rem;
      padding: 0;
      transition: .2s;
      &+svg{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }
    &:hover{
      cursor: pointer;
      .imageBlock{
        background: #e9e9e9;
        opacity: 0.8;
      }
      p.name{
        color: $color-main-2;
      }
    }
  }
  .logo{
    img{
      height: 5.6rem;
    }
  }
}

.el-aside{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2001;
  padding: 2.4rem 1.6rem;
  margin: 0;
  background: $custom-white;
  border-right: 1px solid $color-main-9;
  height: 100%;
  width: auto;
  overflow: visible;
  .asideInBlock{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 5.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: .2s;
    overflow: visible;
    .logo{
      display: block;
      margin: 0;
      padding: 0 0 1.6rem;
      border-bottom: 1px solid $color-main-9;
      img{
        display: block;
        height: 6.3rem;
        width: 5.6rem;
        object-fit: contain;
        object-position: center;
      }
    }
    ul.menu{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      list-style: none;

      margin: clamp(4rem, 10vh, 10.2rem) 0 0;
      li{
        a{
          display: block;
          margin: 0;
          padding: 0;
          button{
            justify-content: flex-start;
            border-color: transparent;
            background: transparent;
            &:hover{
              color: $color-main-2;
              background: #f9f9f9;
              svg{
                *{
                  stroke: $color-main-2;
                }
              }
            }
            &.active{
              color: $color-main-2;
              background: $color-main-10;
              svg{
                *{
                  stroke: $color-main-2;
                }
              }
            }
          }
        }
      }
    }
    .logoutButton{
      margin: clamp(4rem, 5vh, 8rem) 0 0;
    }
  }
  &.opened{
    .asideInBlock{
      width: 20rem;
    }
  }
}

.el-button{
  height: 5.6rem;
  min-height: 5.6rem;
  padding: 0 1.6rem;
  border-radius: 1.6rem;
  &.fullSize{
    width: 100%;
  }
  &.medium{
    height: 5rem;
    min-height: 5rem;
    border-radius: 1.4rem;
    span{
      svg{
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &.medium-second{
    height: 4.8rem;
    min-height: 4.8rem;
  }
  &.mini{
    height: 4.4rem;
    min-height: 4.4rem;
    border-radius: 1.2rem;
    span{
      font-size: 1.5rem;
      span{
        font-size: 1.5rem;
      }
      svg{
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &+.el-button, &+.el-dropdown{
    margin-left: 1.2rem;
  }
  span{
    font-size: 1.6rem;
    font-weight: 300;
    span{
      font-size: 1.6rem;
      font-weight: 300;
      vertical-align: middle;
      line-height: 1;
      max-width: 30rem;
    }
    svg{
      margin: 0 1rem 0 0;
      vertical-align: middle;
      width: 2.4rem;
      height: 2.4rem;
      transition: .2s;
    }
  }
  &.afterIcon{
    span{
      svg{
        margin: 0 0 0 1rem;
      }
    }
  }
  &.onlyIcon{
    width: 5.6rem;
    padding: 0;
    justify-content: center!important;
    overflow: hidden;
    span{
      svg{
        margin: 0;
      }
      span{
        max-width: 0;
        opacity: 0;
      }
    }
    &.mini{
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &.el-button--primary{
    background: $color-main-2;
    border-color: $color-main-2;
    &:hover{
      background: #339bff;
      border-color: #339bff;
    }
    &.is-plain{
      background: $custom-white;
      border-color: $color-main-2;
      color: $color-main-2;
      &.secondStyle{
        background: $color-main-10;
      }
      &:hover{
        background: #e9e9e9;
        border-color: #e9e9e9;
      }
    }
    &.is-link{
      color: $color-main-2;
    }
  }
  &.el-button--info{
    background: $color-main-9;
    border-color: $color-main-9;
    &:hover{
      background: #e9e9e9;
      border-color: #e9e9e9;
    }
  }
  &.el-button--danger{
    background: $color-main-1;
    border-color: $color-main-1;
    &:hover{
      background: #e9e9e9;
      border-color: #e9e9e9;
    }
    &.is-plain{
      background: #FFF5F9;
      border-color: $color-main-1;
      color: $color-main-1;
      &:hover{
        background: #e9e9e9;
        border-color: #e9e9e9;
      }
    }
    &.is-link{
      color: $color-main-1;
    }
  }
  &.el-button--success{
    background: $color-main-3;
    border-color: $color-main-3;
    &:hover{
      background: #e9e9e9;
      border-color: #e9e9e9;
    }
    &.is-plain{
      background: #f6fff5;
      border-color: $color-main-3;
      color: $color-main-3;
      &:hover{
        background: #e9e9e9;
        border-color: #e9e9e9;
      }
    }
    &.is-link{
      color: $color-main-3;
    }
  }
  &.is-link{
    min-height: 0;
    height: auto;
    padding: 0;
    border-radius: 0;
    background: transparent;
    border: none;
    &.mini{
      font-size: 1.5rem;
    }
    &:hover{
      opacity: 0.6;
    }
    span{
      svg{
        vertical-align: middle;
        margin: -.2rem .8rem 0 0;
      }
    }
    &.afterIcon{
      span{
        svg{
          margin: -.2rem 0 0 .8rem;
        }
      }
    }
    &.onlyIcon{
      width: auto;
      svg{
        margin: 0;
      }
    }
  }
  &.white--style{
    background: #fff;
    border-color: #fff;
    color: $color-main-6;
    &:hover{
      background: #e9e9e9;
      border-color: $color-main-10;
    }
  }
}

a.defaultLink{
  color: $color-main-2;
  font-weight: 300;
  border-bottom: 1px solid;
  font-size: 1.6rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-button{
  height: 4.8rem;
  min-height: 4.8rem;
  padding: 0 1.6rem;
  border-radius: 1.2rem;
  background: $color-main-10;
  color: $color-main-2;
  display: flex;
  align-items: center;
  border: 1px solid $color-main-10;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  &:hover{
    cursor: pointer;
    opacity: 0.6;
  }
  svg{
    &.uploadStyle{
      background: $color-main-2;
      border-radius: .8rem;
      padding: .3rem .4rem .5rem;
      width: 1.6rem;
      height: 1.6rem;
    }
    &.spinnerIcon{
      animation: spin 2s linear infinite;
      transform-origin: 50% 50%;
    }
  }
  span{
    display: inline-flex;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
  &.greyStyle{
    background: $color-main-9;
    border-color: $color-main-9;
    font-size: 1.6rem;
    font-weight: 300;
    min-width: 35rem;
    max-width: 100%;
    justify-content: space-between;
    span{
      font-size: 1.6rem;
      font-weight: 300;
      color: $color-main-6;
      flex-grow: 1;
      max-width: calc(100% - 6rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.el-drawer{
  background: $custom-white;
  .el-drawer__header{
    padding: 1.6rem 2.4rem;
    justify-content: flex-start;
    border-bottom: 1px solid $color-main-9;
    margin: 0;
    .el-drawer__title{
      font-size: 2rem;
      text-align: left;
      color: $color-main-6;
      font-weight: 500;
    }
    .closeButton{
      transition: .1s;
      &:hover{
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
  .el-drawer__body{
    padding: 0;
    .drawerInfo{
      display: block;
      width: 100%;
      background: #fff;
      padding: 2.4rem;
      box-shadow: 0 0 5px #eee;
      .emptyBlock{
        padding-top: 5rem;
        padding-bottom: 5rem;
        img{
          display: block;
          margin: 0 auto 2.4rem;
        }
        p{
          display: block;
          text-align: center;
          margin: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }

      .notificationsList{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        .notificationItem{
          display: flex;
          width: 100%;
          padding: 0;
          margin: 0;
          flex-direction: column;
          .top{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0 0 1.2rem;
            p{
              margin: 0;
              display: inline-flex;
              //font-size: 1.4rem;
              &.label{
                border-radius: 10rem;
                padding: .8rem 1.2rem;
                color: $color-main-2;
                font-weight: 400;
                background: $color-main-10;
              }
              &.date{
                color: $color-grey;
              }
            }
          }
          .info{
            display: block;
            margin: 0;
            padding: 0;
            //font-size: 1.4rem;
            text-align: left;
            a{
              display: inline-block;
              margin: 0;
              padding: 0;
              //font-size: 1.4rem;
              color: $color-main-2;
              text-decoration: underline;
            }
          }
          .comment{
            display: block;
            margin: 1.2rem 0 0;
            padding: 1.2rem;
            background: $color-main-9;
            border-radius: .8rem;
            text-align: left;
            font-size: 1.4rem;
            font-style: italic;
          }
        }
      }

    }
  }
}

.el-card{
  background: $custom-white;
  border-color: $custom-white;
  border-radius: 2.4rem;
  margin: 0 0 2.4rem;
  transition: .1s;
  width: 100%;
  .el-card__body{
    padding: 2.4rem;
  }
  &.programCard{
    .head{
      display: flex;
      position: relative;
      width: 100%;
      padding: 0 0 1.6rem;
      border-bottom: 1px solid $color-main-9;
      align-items: center;
      gap: 2rem;
      justify-content: space-around;
      .logoBlock{
        height: 6.4rem;
        width: 6.4rem;
        display: inline-flex;
        margin: 0;
        flex-shrink: 0;
        position: relative;
        border-radius: .8rem;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
          display: flex;
          margin: 0;
        }
      }
      p.title{
        display: inline-flex;
        margin: 0;
        flex-direction: column;
        font-size: 1.8rem;
        font-weight: 500;
        flex-grow: 1;
        span{
          color: $color-grey;
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
      .el-button{
        flex-shrink: 0;
      }
    }
    .body{
      display: flex;
      position: relative;
      width: 100%;
      padding: 1.6rem 0 0;
      flex-direction: column;
      gap: .8rem;
      p{
        display: flex;
        width: 100%;
        justify-content: space-between;
        span{
          font-size: 1.6rem;
          font-weight: 300;
          &.label{
            color: $color-grey;
            width: 50%;
          }
        }
      }
    }
    &:hover{
      cursor: pointer;
      border-color: $color-main-2;
      box-shadow: 0 0 10px rgba(26,115,232,.25);
    }
  }
  .headLabel{
    display: flex;
    width: 100%;
    margin: 0 0 1.6rem;
    gap: 1.6rem;
    align-items: center;
    p{
      margin: 0;
      padding: 0;
      color: $color-main-6;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

.el-tabs{
  .el-tabs__header{
    margin: 0;
    .el-tabs__active-bar{
      display: none!important;
    }
    .el-tabs__item{
      height: auto;
      padding: 1.2rem 1.6rem!important;
      line-height: normal;
      font-size: 1.5rem;
      border-bottom: 2px solid transparent;
      transition: .2s;
      font-weight: 300;
      &.is-active{
        border-bottom: 2px solid $color-main-1;
        font-weight: 400;
        color: $color-main-1;
        span{
          font-weight: 400;
        }
      }
      &:hover{
        color: #999;
      }
    }
  }
  .el-tabs__content{
    padding-top: 3.2rem;
  }
  &.secondStyle{
    .el-tabs__header{
      .el-tabs__nav-wrap{
        &:after{
          display: none;
        }
      }
      .el-tabs__item{
        height: auto;
        padding: 1rem 1.6rem!important;
        line-height: normal;
        font-size: 1.6rem;
        border: 1px solid $color-main-9;
        transition: .2s;
        font-weight: 200;
        border-radius: 4rem;
        background: $color-main-9;
        img.degreeImage{
          vertical-align: middle;
          margin: -.4rem .2rem 0 0;
        }
        &.is-active{
          border: 1px solid $color-main-10;
          font-weight: 300;
          color: $color-main-2;
          background: $color-main-10;
          span{
            font-weight: 300;
          }
        }
        &:hover{
          color: #999;
        }
        &+.el-tabs__item{
          margin-left: .8rem;
        }
      }
    }
  }
}

.defaultAlertBlock{
  display: flex;
  margin: 0 0 2.4rem;
  padding: 1.4rem 1.8rem;
  border-radius: 1.6rem;
  background: $color-main-10;
  border: 1px solid transparent;
  img, svg{
    color: $color-main-2;
    display: inline-flex;
    max-width: 12rem;
  }
  img{
    margin-right: 2.8rem;
  }
  .content{
    display: inline-flex;
    flex-grow: 1;
    padding: 0 0 0 1.2rem;
    margin: 0;
    flex-direction: column;
    gap: 0.4rem;
    .title{
      font-weight: 500;
      margin: 0;
    }
    .text{
      font-size: 1.4rem;
      margin: 0;
      font-weight: 300;
    }
  }
  .comment{
    display: flex;
    border-radius: 1.6rem;
    padding: 1.2rem;
    background: $custom-white;
    margin: 2rem 0 0;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid $color-main-2;
    .text{
      font-style: italic;
    }
  }
  &.big{
    padding: 2.4rem;
  }
  &.successStyle{
    background: #E9F4EC;
    .image{
      svg{
        color: $color-main-3;
      }
    }
    .comment{
      border-color: $color-main-3;
    }
  }
  &.errorStyle{
    background: #FFF5F9;
    .image{
      svg{
        color: $color-main-1;
      }
    }
    .comment{
      border-color: $color-main-1;
    }
  }
}

.upload-btn{
  line-height: 0;
}

.custom-label{
  display: flex;
  color: $color-main-6;
  font-size: 1.8rem;
  font-weight: 500;
  gap: .4rem;
  width: 100%;
  flex-direction: column;
  margin: 0 0 2rem;
  padding: 0;
  span{
    display: flex;
    color: $color-grey;
    font-size: 1.5rem;
    margin: 0;
  }
}

.el-form-item{
  flex-direction: column;
  justify-content: flex-start;
  gap: .8rem;
  margin: 0 0 2rem;
  width: 100%;
  .el-form-item__label{
    justify-content: flex-start;
    display: flex;
    font-size: 1.5rem;
    height: auto;
    line-height: 1.2;
    color: $color-main-6;
    width: 100%;
  }
  .el-form-item__content{
    display: flex;
    line-height: 1.3;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    .text-muted{
      display: flex;
      margin: 0;
      padding: 0;
    }
    .el-select{
      width: 100%;
    }
    .el-input-number{
      width: 100%;
      line-height: normal;
    }
    .el-input{
      .el-input__wrapper{
        height: 4.8rem;
        padding: 0 1.6rem;
        border: 1px solid #E8E8E8;
        box-shadow: none;
        border-radius: 1.2rem;
        .el-input__suffix{
          color: $color-main-6;
          *{
            color: $color-main-6;
          }
        }
        .el-input__inner{
          line-height: 1.2;
          font-size: 1.6rem;
          color: $color-main-6;
          font-weight: 300;
          &::placeholder{
            color: $color-grey;
            font-weight: 200;
          }
        }
      }
    }
    .el-radio-group{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.6rem;
      .el-radio{
        height: auto;
        margin: 0;
        color: $color-main-6;
        .el-radio__input{
          .el-radio__inner{
            width: 2.4rem;
            height: 2.4rem;
            &:after{
              width: 1rem;
              height: 1rem;
            }
          }
        }
        .el-radio__label{
          font-size: 1.6rem;
          padding: 0 0 0 1.2rem;
        }
      }
    }
    .el-checkbox-group{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.2rem;
      .el-checkbox{
        height: auto;
        margin: 0;
        color: $color-main-6;
        .el-checkbox__input{
          .el-checkbox__inner{
            width: 2.4rem;
            height: 2.4rem;
            border-radius: .8rem;
            &:after{
              width: .3rem;
              height: 1rem;
              border-width: 2px;
              left: .8rem;
              top: .4rem;
            }
          }
        }
        .el-checkbox__label{
          font-size: 1.6rem;
          padding: 0 0 0 1.2rem;
        }
      }
    }
  }
}


.avatar-wrapper{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  .avatar-preview{
    display: block;
    width: 12rem;
    height: 12rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: $color-main-9;
    border: 1px dashed $color-grey;
    padding: 0;
    margin: 1rem 0 2rem;
    &.withImage{
      border: 1px solid transparent;
    }
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 6.4rem;
      width: 6.4rem;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }
}
.el-badge{
  .el-badge__content{
    font-size: 1.2rem;
    right: 0;
    &.el-badge__content--success{
      color: $color-main-3;
      background: #E3F2E7;
      font-weight: 300;
    }
  }
}

.el-loading-mask{
  border-radius: 2.4rem;
  left: 1.5rem;
  right: 1.5rem;
}

.el-table{
  background: transparent;
  .el-table__header-wrapper{
    border-radius: 1.6rem 1.6rem 0 0;
    thead{
      background: $color-main-2;
      tr{
        background: $color-main-2;
        th{
          background: $color-main-2;
          color: $custom-white;
          font-size: 1.7rem;
          padding: 1.6rem 0;
          .cell{
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .el-table__body-wrapper{
    border-radius: 0 0 1.6rem 1.6rem;
    tbody{
      tr{
        td{
          font-size: 1.6rem;
          padding: 1.6rem 0;
          color: $color-main-6;
          .cell{
            font-weight: 300;
            p{
              font-weight: 300;
              display: flex;
              width: 100%;
              margin: 0;
              padding: 0;
              flex-direction: column;
              gap: .4rem;
              word-break: normal;
              span{
                color: $color-grey;
                font-size: 1.4rem;
              }
              &.statusText{
                gap: 0;
                padding-left: 1.8rem;
              }
            }
          }
        }
      }
    }
  }
  .el-dropdown{
    height: 2.4rem;
    width: 2.4rem;
    margin: 0;
    &:hover{
      cursor: pointer;
      opacity: 0.6;
    }
  }
  .cell{
    padding: 0 2.4rem;
  }
  &.greyTable{
    .el-table__inner-wrapper{
      &:before{
        background: transparent;
      }
    }
    .el-table__header-wrapper{
      thead {
        background: $color-main-9;
        tr {
          background: $color-main-9;
          th {
            background: $color-main-9;
            color: $color-main-6;
          }
        }
      }
    }
    .el-table__body-wrapper{
      border: 1px solid $color-main-9;
      max-width: calc(100% - 2px);
      box-shadow: none;
      tbody{
        border-bottom: none;
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.el-popper{
  background: $custom-white;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  margin-left: .5rem!important;
  .el-popper__arrow{
    display: none;
  }
  &.is-light{
    background: $custom-white;
    border: 1px solid #e1e1e1;
  }
  .el-dropdown-menu{
    padding: .5rem 0;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    .el-dropdown-menu__item{
      padding: .9rem 1.6rem;
      font-size: 1.6rem;
      font-weight: 300;
      color: $color-main-6;
      background: transparent;
      &:hover{
        color: $color-main-2;
        background: transparent;
      }
    }
  }
}

.statusText{
  color: $color-grey;
  position: relative;
  display: flex;
  padding-left: 1.8rem;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $color-grey;
    display: inline-flex;
  }
  &.IN_PROGRESS{
    color: $color-main-2;
    &:before{ background: $color-main-2; }
  }
  &.ACCEPTED{
    color: $color-main-3;
    &:before{ background: $color-main-3; }
  }
  &.FOR_REVISION{
    color: #FF7E07;
    &:before{ background: #FF7E07; }
  }
  &.DENIED{
    color: $color-main-1;
    &:before{ background: $color-main-1; }
  }
  &.FOR_CONSIDERATION{
    color: $color-main-2;
    &:before{ background: $color-main-2; }
  }
}

.defaultEmptyBlock{
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  .el-card{
    .el-card__body{
      display: flex;
      padding: 8rem 2.4rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img{
        max-width: 100%;
        width: 10rem;
      }
      p{
        display: flex;
        flex-direction: column;
        gap: .8rem;
        color: $color-main-6;
        font-size: 2.2rem;
        font-weight: 500;
        padding: 0;
        margin: 2.4rem 0 0;
        justify-content: center;
        align-items: center;
        span{
          display: flex;
          margin: 0;
          padding: 0;
          font-size: 1.6rem;
        }
      }
      .el-button{
        margin: 2.4rem auto 0;
      }
    }
  }
}

.multiSelectBlock{
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: column;
  .el-button.opened{
    svg{
      transform: rotate(-180deg);
    }
  }
  .absoluteSelectBlock{
    position: absolute;
    left: 0;
    top: 100%;
    background: $custom-white;
    border-radius: 1.2rem;
    border: 1px solid #BDC3C9;
    width: 30rem;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(32,33,36,.15);
    margin: .4rem 0 0;
    padding: 2rem;
    z-index: 13;
    .el-form-item{
      margin: 0 0 1.2rem;
      max-height: 200px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $color-main-9;
      }
      &::-webkit-scrollbar-thumb {
        background: #BDC3C9;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color-grey;
      }
    }
  }
}

.el-slider{
  height: 2.4rem;
  width: calc(100% - 2.4rem);
  margin: 0;
  .el-slider__runway{
    .el-slider__bar{
      background: #E92E72;
    }
    .el-slider__button{
      border: 6px solid #E92E72;
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}

img.degreeImage{
  height: 1.6rem;
}

@media (max-width: 1550px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

@media (max-width: 925px) {
  html {
    font-size: 43.75%; /* 1rem = 7px */
  }
}