$custom-white: #FDFDFD;
$color-grey: #8E9DAF;
$color-main-1: #D81B60;
$color-main-2: #1A73E8;
$color-main-3: #34A853;
$color-main-4: #FFC107;
$color-main-5: #f4f5fc;
$color-main-6: #202124;
$color-main-7: #B4DC44;
$color-main-8: #A5C800;
$color-main-9: #F2F2F4;
$color-main-10: #E6F1FF;